@font-face {
  font-family: WizardFont; /*Can be any text*/
  src: local('AirbnbCerealLight'),
    url('./assets/WizardFont.otf') format('opentype');
}

/*
Convert font to other file types for wider browser support
https://stackoverflow.com/questions/3245141/using-otf-fonts-on-web-browsers
*/
